doctype html
html
  head
    title= settings.title
    link(rel='stylesheet', href='/themes/#{settings.theme}/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/jqplot/jquery.jqplot.css')
    link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Jura')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='http://80.211.97.48/js/src/jquery.jqplot.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js')
    script(src='http://80.211.97.48/js/websocket.js')
    script(src='/vendor/jqplot/jquery.jqplot.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.dateAxisRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.ohlcRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.highlighter.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.pieRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.barRenderer.min.js')
    script(src='/vendor/jqplot/plugins/jqplot.categoryAxisRenderer.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(src='//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')  
    script(src='//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js')
    script(src='//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js')
    script(src='/javascripts/chart.js')
    script(src='/javascripts/analytics.js')
    // Common dependencies
    script(src='https://code.jquery.com/jquery-3.3.1.js')
    script(src='https://canvasjs.com/assets/script/jquery.canvasjs.min.js')
    script(src='http://80.211.97.48/js/src/jquery.jqplot.js')
    script(src='http://80.211.97.48/js/src/plugins/jqplot.dateAxisRenderer.js')
    script(src='http://80.211.97.48/js/src/plugins/jqplot.categoryAxisRenderer.js')
    script(src='http://80.211.97.48/js/src/plugins/jqplot.ohlcRenderer.js')
    script(src='http://80.211.97.48/js/src/plugins/jqplot.highlighter.js')
    script(src='http://80.211.97.48/js/src/plugins/jqplot.cursor.js')
    script(src='http://80.211.97.48/js/charts.js')
    script(src='http://80.211.97.48/js/websocket.js')
    script(src='http://80.211.97.48/js/websocket-ui.js')
    script(src='http://80.211.97.48/js/footer.js')
    script(src='http://80.211.97.48/js/console.js')
    script.
      $(document).ready(function(){  
        $('##{active}').addClass('active');
        update_stats = function() {   
          $.ajax({url: '/ext/summary', success: function(json){
            $("#supply").text(json.data[0].supply);
            $("#difficulty").text(json.data[0].difficulty);
            $("#masternodeCount").text(json.data[0].masternodeCount);
            $("#masternodeOnlineCount").text(json.data[0].masternodeOnlineCount);
            $("#difficultyHybrid").text(json.data[0].difficultyHybrid);
            $("#hashrate").text(json.data[0].hashrate);
            $("#price_btc").text(json.data[0].lastPriceBtc);
            $("#lblX1").text(' ');
            $("#price_usd").text(json.data[0].lastPriceUsd);
            $("#cmc_market_cap").text(json.data[0].marketCapUsd);
            $("#cmc_volume_24h").text(json.data[0].marketVolumeUsd);

            $("#lblConnections").text(json.data[0].connections + ' connections');
            $("#lblBlockcountValue").text(json.data[0].blockcount);


            if (json.data[0].cmc) {
              if (json.data[0].cmc.percent_change_24h) {
                $("#price_percent_change_value").text(json.data[0].cmc.percent_change_24h);
                if (json.data[0].cmc.percent_change_24h.substr(0, 1) === '-')
                  $("#price_percent_change").attr('class', 'text-danger');
                else
                  $("#price_percent_change").attr('class', 'text-success');
              }
              if (json.data[0].cmc.rank)
                $("#cmc_rank").text(json.data[0].cmc.rank);
            }
          }});
        }
        $('.iquidus').css('color',$('.table').css('color'));
        $(window).resize(function () { 
          $($.fn.dataTable.tables( true ) ).DataTable().columns.adjust();
        });
        setInterval( function() {
          update_stats();
        }, 60000);
        update_stats();
      });
  body.bg-img(style="background-image: transparent;")
    - function format_unixtime(unixtime) {
      - var a = new Date(unixtime*1000);  
      - var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      - var year = a.getFullYear();
      - var month = months[a.getMonth()];
      - var date = a.getDate();
      - var hour = a.getHours();
      - var min = a.getMinutes();
      - var sec = a.getSeconds();
      - var suffix = 'th'
      if date == 1 || date == 21 || date == 31
        - suffix = 'st'
      if date == 2 || date == 22 || date == 32
        - suffix = 'nd'
      if date == 3 || date == 23
        - suffix = 'rd'
      if hour < 10
        - hour = '0' + hour
      if min < 10
        - min = '0' + min
      if sec < 10
        - sec = '0' + sec
      - var time = date + suffix + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;   
      - return time
    -  };
    .container
      .row
            .nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
              .container
                .navbar-header
                  button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                  a.navbar-brand(href='/')
                    img#navlogo(src='/veles.ico')
                    p#text-brand Veles
                .collapse.navbar-collapse(id='navbar-collapse')
                  ul.nav.navbar-nav
                    li.nav-item
                      a.nav-link(href='/') Home
                    li.nav-item
                      a.nav-link(href='/richlist') Richlist
                    li.nav-item
                      a.nav-link(href='/masternodes') Masternodes
                    li.nav-item
                      a.nav-link(href='/coininfo') Coininfo
                    li.nav-item
                      a.nav-link(href='/miningstats') Miningstats  
                    li.nav-item.dropdown
                      a#navbarDropdownBlog.nav-link.dropdown-toggle(href='resources.html', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
                        | Website
                        .dropdown-menu.dropdown-menu-right(aria-labelledby='navbarDropdownBlog')
                          a.dropdown-item(href='http://80.211.97.48/index.html') Home
                          a.dropdown-item(href='http://80.211.97.48/about.html') About
                          a.dropdown-item(href='http://80.211.97.48/download.html') Download
                          a.dropdown-item(href='http://80.211.97.48/roadmap.html') Roadmap
                          a.dropdown-item(href='http://80.211.97.48/faq.html') Resources
                          a.dropdown-item(href='http://80.211.97.48/contact.html') Contact
                    li.nav-item
                      a.nav-link(href='/info') Api                  
            block content

            .lookWrap
              hr
              #tomotto.tomottoWrap.text-center
                | “In such seconds of decision entire futures are made.”
                | ― Dan Simmons, Hyperion              
              .row
                #look
                  .section.col-md-3
                    h5#h5 Website
                    a(href='/about.html') About
                    a(href='/download.html') Download
                    a(href='/faq.html') FAQ
                    a(href='/wiki.html') WIKI
                    a(href='/coin-specs.html') Coins-specs
                    a(href='/services.html') External-services
                  .section.col-md-3
                    h5#h5 Explorer
                    a(href='http://35.240.96.108:88/') Search
                    a(href='http://35.240.96.108:88/richlist') Richlist
                    a(href='http://35.240.96.108:88/masternodes') Masternodes
                    a(href='http://35.240.96.108:88/coininfo') Coin-info
                    a(href='http://35.240.96.108:88/miningstats') Mining-stats
                    a(href='http://35.240.96.108:88/info') Api
                  .section.col-md-3
                    h5#h5 Community
                    a(href='https://twitter.com/velescore') Twitter
                    a(href='https://discord.gg/P528fGg') Discord
                    a(href='https://steemit.com/@velescore/') Steemit
                    a(href='https://bitcointalk.org/index.php?topic=5064523') Bitcointalk
                    a(href='https://www.coingecko.com/en/coins/veles') Coingecko
                    a(href='https://coinpaprika.com/coin/vls-veles/') Coinpaprika
                    a(href='https://masternodecap.com/coins/VLS') Masternodecap
                  .section.col-md-3
                    h5#h5 About Us
                    a(href='/about.html') About
                    a(href='/roadmad.html') Roadmap
                    a(href='/contact.html') Contact Us
            .footer-copyright.text-center.py-3
              | © Copyright 2018-
              | The Veles Core developers

              // Copyright
            .footer.container
              #connection-tooltip.footer-tooltip
                ul
                  li
                    i.fa.fa-signal
                    |  Websocket Status:
                    b.label-success.websocket-online online
                    b.label-error.websocket-offline(style='display: none;') offline
                  li
                    | Peer Connections: 
                    b 8
                  li
                    | Websocket Connections: 
                    b 25
              #chain-tip-tooltip.footer-tooltip
                ul
                  li
                    i.fa.fa-cube
                    |  Current Block Height:
                    b(data-entity-id='chain.tip', data-attribute='height') 0
                  li
                    | Best block hash: 
                    b
                      a.chain-tip-hash-short(href='#')
                  li
                    | Found at: 
                    b.chain-tip-time
                  li.first-row
                    | Size: 
                    b.chain-tip-size-kb 0
                    |  kB
                  li.second-row
                    | Algo: 
                    b.chain-tip-algo
                  li
                    | Transactions: 
                    b.chain-tip-ntx 0
              #masternodes-tooltip.footer-tooltip
                ul
                  li
                    i.fa.fa-server
                    |  Masternodes Total: 
                    b(data-entity-id='masternodes', data-attribute='count') 0
                  li
                    | Enabled: 
                    b.label-success(data-entity-id='masternodes', data-attribute='enabled-count') 0
                  li(style='display: none;')
                    | Pre-Enabled:
                    b.label-warning(data-entity-id='masternodes', data-attribute='pre-enabled-count') 0
                  li
                    | New Start Required:
                    b.abel-warning(data-entity-id='masternodes', data-attribute='new-start-required-count') 0
                  li(style='display: none;')
                    | Expired:
                    b.label-error(data-entity-id='masternodes', data-attribute='expired-count') 0
                  li.list-separator
                    | Masternode collateral: 
                    b.masternodes-collateral-amount 0
                    |  VLS
                  li
                    | MN block reward part: 
                    b.masternodes-reward-percent 0
                    |  %
                  // <li class="list-separator tooltip-icons"><i class="fab fa-wikipedia-w"></i></li>
              #chain-pow-tooltip.footer-tooltip
                ul
                  li
                    i.fa.fa-chart-bar
                    |                     Hashrate Total:
                    span(data-entity-id='chain.pow', data-attribute='totalhashrate', data-format='hashrate') 0
                  li.first-row
                    | sha256d: 
                    span(data-entity-id='chain.pow', data-attribute='multialgo.sha256d.hashrate', data-format='hashrate') 0
                  li.second-row
                    | scrypt: 
                    span(data-entity-id='chain.pow', data-attribute='multialgo.scrypt.hashrate', data-format='hashrate') 0
                  li.first-row
                    | lyra2z: 
                    span(data-entity-id='chain.pow', data-attribute='multialgo.lyra2z.hashrate', data-format='hashrate') 0
                  li.second-row
                    | x11: 
                    span(data-entity-id='chain.pow', data-attribute='multialgo.x11.hashrate', data-format='hashrate') 0
                  li.first-row
                    | x16r: 
                    span(data-entity-id='chain.pow', data-attribute='multialgo.x16r.hashrate', data-format='hashrate') 0
                  li.second-row
                    | nist5: 
                    span(data-entity-id='chain.pow', data-attribute='multialgo.nist5.hashrate', data-format='hashrate') 0
                  li.list-separator
                    | Blocks to next halving check: 
                    b.chain-pow-blocks-to-next-epoch
                  li
                    | Epoch supply reached: 
                    b.chain-pow-supply-target-reached 0%
                    |  of min 80%
              #price-status-tooltip.footer-tooltip
                ul
                  li
                    i.fa.fa-chart-line
                    |  VLS Price:
                    .tooltip-price
                      span(data-entity-id='market.price', data-attribute='price_btc', data-format='coin_amount', data-unit='BTC') 0.00000000
                      br
                      span(data-entity-id='market.price', data-attribute='price_usd', data-format='number', data-fixed-decimals='2', data-unit-before='$') 0.00
                  li.tooltip-row-tall
                    #price-tooltip-chart
                  li.list-separator
                    | Volume 24h: 
                    b
                      span(data-entity-id='market.price', data-attribute='24h_volume_usd', data-unit-before='$')
                  li.second-row
                    | Δ 24h: 
                    b
                      span(data-entity-id='market.price', data-attribute='percent_change_24h', data-unit='%')
                  li.first-row
                    | Market Cap: 
                    b
                      span(data-entity-id='market.price', data-attribute='market_cap_usd', data-unit-before='$')
                  li.second-row
                    | Δ 7d: 
                    b
                      span(data-entity-id='market.price', data-attribute='percent_change_7d', data-unit='%')
                  li
                    | Total Supply: 
                    b
                      span(data-entity-id='market.price', data-attribute='total_supply', data-multiplier='0.000001', data-format='number', data-fixed-decimals='1', data-title='{total_supply} VLS')
                      | m
                    |                     of maximum 
                    b
                      span(data-entity-id='market.price', data-attribute='max_supply', data-multiplier='0.000001', data-format='number', data-fixed-decimals='1', data-title='{max_supply} VLS')
                      | m
                    |  VLS

            .footer-overlay
              .row.footer-panel-row
                .col-md-12.text-left
                  #console-toggle.status-area
                    span.fa.fa-terminal.websocket-online(title='Toggle Veles Node Console')
                    span.fa.fa-window-close.console-area(title='Close Console')
                  #console-maximize.status-area.console-area
                    span.fa.fa-window-maximize(title='Maximize Console')
                  .footer-follow-wide
                    ul.osx-dock
                      li.active
                        span Bitcointalk
                        a(target='_blank', rel='noopener noreferrer', href='https://bitcointalk.org/index.php?topic=5064523')
                          i.fab.fa-bitcoin
                      li
                        span Twitter
                        a(target='_blank', rel='noopener noreferrer', href='https://twitter.com/velescore')
                          i.fab.fa-twitter
                      li
                        span GitHub
                        a(target='_blank', rel='noopener noreferrer', href='https://github.com/velescore/veles')
                          i.fab.fa-github
                      li
                        span Discord
                        a(target='_blank', rel='noopener noreferrer', href='https://discord.gg/P528fGg')
                          i.fab.fa-discord
                  #price-status.status-area.websocket-online-animate
                    span.status-label-wide Price:
                    span(data-entity-id='market.price', data-attribute='price_btc', data-format='coin_amount')
                    span.status-label-wide BTC
                  #connection-status.status-area
                    span.fa.fa-spinner.fa-spin.websocket-offline(title='Websocket Status: OFFLINE', style='color: rgb(238, 238, 238); display: none;')
                    span.websocket-online(title='Websocket Status: ONLINE', style='color: rgb(187, 255, 170); font-size: 20px;') ✔
                    | ️
                  #chain-tip-status.status-area.websocket-online-animate
                    span.status-label-wide Blocks:
                    b
                      span(data-entity-id='chain.tip', data-attribute='height') 0
                  #masternodes-status.status-area.websocket-online-animate
                    span.status-label-wide Masternodes:
                    b
                      span(data-entity-id='masternodes', data-attribute='count') 0
                    span.status-label-short MNs
                  #chain-pow-status.status-area.websocket-online-animate
                    span.status-label-wide Hashrate:
                    span(data-entity-id='chain.pow', data-attribute='totalhashrate', data-format='hashrate')
              #dev-console
                .jquery-console-message Loading blockchain client ...
              
  #block-detail-modal.modal.fade
    .modal-dialog(style='width: 820px;')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#modal-title.modal-title VLS block: 
            span.block-hash
        .modal-body
          .panel
            .panel-heading
              strong Block Header
            table.table.table-bordered.summary-table
              thead
                tr
                  th Height
                  th
                  th Difficulty
                  th Confirmations
                  th.hidden-xs Size (kB)
                  th.hidden-xs Bits
                  th.hidden-xs Nonce
                  th.hidden-xs Timestamp
              tbody
                tr.success
                  td 83456
                  td nist5
                  td 14673.9933
                  td 376
                  td.hidden-xs 0.52
                  td.hidden-xs 1b047750
                  td.hidden-xs 305585431
                  td.hidden-xs 16th Mar 2019 23:50:14
          .panel
            .panel-heading
              strong Transactions
            table.table.table-bordered.table-striped.summary-table
              thead
                tr
                  th.hidden-xs Hash
                  th Recipients
                  th Amount (VLS)
                  th
              tbody
        .modal-footer
          button.btn.btn-default.btn-sm(type='button', data-dismiss='modal') OK

  #tx-detail-modal.modal.fade
    .modal-dialog(style='width: 940px;')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
          h4#modal-title.modal-title VLS txid: 
            span.tx-hash
        .modal-body
          .row
            .col-md-12
              .panel
                .panel-heading.hidden-xs
                  strong Transaction Summary
                table.table.table-bordered.table-striped.summary-table
                  thead
                    tr
                      th Confirmations
                      th.hidden-xs Block Hash
                      th Timestamp
                      th
                  tbody
                    tr.danger
                      td 7
                      td.hidden-xs
                        a.mono(href='/block/db23dae488df0ec98e2dea5f87587bf30a9795b39fb746973fb2ae209f891952') db23dae488df0ec98e2dea5f87587bf30a9795b39fb746973fb2ae209f891952
                      td 19th Mar 2019 00:10:45
                      td.view_tx
                        a(href='/block/db23dae488df0ec98e2dea5f87587bf30a9795b39fb746973fb2ae209f891952')
                          span.glyphicon.glyphicon-eye-open
          .row
            .col-md-6
              .panel.panel-default
                .panel-heading
                  strong Inputs
                  span.glyphicon.glyphicon-arrow-right.pull-right.hidden-xs
                table.table.table-bordered.table-striped.summary-table
                  thead
                    tr
                      th Address
            .col-md-6
              .panel.panel-default
                .panel-heading
                  strong Recipients
                table.table.table-bordered.table-striped.summary-table
                  thead
                    tr
                      th Address
                      th.hidden-xs Amount (VLS)
                  tbody
        .modal-footer
          button.btn.btn-default.btn-sm(type='button', data-dismiss='modal') OK
