
@import url('https://fonts.googleapis.com/css?family=Inconsolata:300,400,600,700');

body {
        margin-bottom: 20px;
        font-family: 'Jura', sans-serif;
        font-size: 15px;
        color: #fff;
        font-weight: 500;
        background-color: #c4bebe;
      	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
        text-rendering: optimizeLegibility;
        transition: 0.5s;
        overflow-x: hidden;
        padding: 30px;
        margin: -15px!important;
}

/* scroll bar */
body::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #262626;
  outline: 1px solid slategrey;
  border-left: 3px solid #e4b99cbb;
}

body::-webkit-scrollbar-thumb:hover {
    border-color: #F19B7E;
  	box-shadow: 0 0 30px #F19B7E, 0 0 50px #F19B7E;
}

a {
    color: #e4b99c;
    text-decoration: none;
}

a:hover {
    color: #F19B7E;
    text-decoration: underline;
}

.success {
    background-color: #62c46288!important;
}

.warning {
    background-color: #ffc10788;
}

.table>tbody>tr.success>td {
    background-color: transparent;
}

.table>tbody>tr.danger>td {
    background-color: #ee5f5b88;
}

.table>tbody>tr>td.danger {
    background-color: #ee5f5b88!important;
}

.table>tbody>tr.warning>td {
    background-color: #ffc10788;
}

.table>tbody>tr.info>td{
    background-color: #5bc0de88;
}

.alert-danger {
    background-color: #ee5f5b88;
    border-color: #ed4d6388;
    color: #ffffff;
}

#h5 {
    font-family: 'Jura'!important;
    font-weight: 500;
    font-size: 20px!important;
}

#tomotto{
  text-align: center;
  width: 100%;
  letter-spacing: 2px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  line-height: 36px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 6px;
  font-size: 16px;
}

.footer-links {
	margin-left: 10%;	/* Move optically to the right */
}
.footer-links .section a {
	font-color: 14px;
    color: #e4b99c;
    display: block;
}

.footer-links .section a:hover {
    color: #F19B7E;		/* baggins: micro drop of more orange to the mix (was #e4b99c) */
}

table#alerts-table {
    border: 0px!important;
}

.section {
    display: inline-grid;
    width: 25%;
    line-height: 28px;
    font-size: 16px;
    padding-inline-start: 24px;
    margin: 5px -5px 0px 4px;
}

.section a {
    color: #e4b99c;
    display: block;
}

.section a:hover {
    color: #F19B7E;		/* baggins: micro drop of more orange to the mix (was #e4b99c) */
}

.pagination>li>a {
	background: #262626;
}

.pagination>li.disabled>a, .pagination>li.disabled>a:hover {
	background: #393939;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	background: #363636;
}

.modal-content {
  background-color: #c4bebe;
  background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAQAAABuBnYAAAAAU0lEQVQIHQXBwRGDIBAAwO2/AMcCDHAcPjIRxjJ8Je1kl1uqUgphsWu6w0sIG6npLpcUBql4e/wsVRKabrkNTacIYbMrwsF06rqUhsnXVKVT+Hj+Ue4rPSONk4kAAAAASUVORK5CYII=);
}
#table-modal {
  line-height: 2!important;
}
.navbar-nav>li>.dropdown-menu {
    margin-top: 2px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown-menu  {
    margin-top: 1px;
    padding-bottom: 6px;
	font-size: 15px;
	background-color: black;
}

.dropdown>a:before {
    font-family: 'ForkAwesome', sans-serif;
    content: "\f0da";
    font-size: 13px;
    margin-left: 6px;
    float: right;
    transform: rotate(90deg);
}

.dropdown-item:hover {
    text-decoration: none;
	color: #fff;
    border-left: 4px solid #F19B7E;
    background-color: rgba(100, 100, 100, 0.3)
}

.dropdown-item {
    display: block;
    clear: both;
    font-weight: 400;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
	font-size: 15px;
	background-color: black;
	color: #fff!important;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #ffffff;
}

/* Footer bar and tootips */
.footer-overlay {
	position: fixed;
   	left:0px;
   	bottom: 0px;
   	height: 40px;
   	width: 100%;
	background-color: transparent;
	color: white;
	font-size: 13px;
	z-index: 100;
	transition: height 0.5s ease-in-out;
}

.footer-overlay .footer-panel-row {
   	height: 40px;
	padding: 0px 10px 0px 10px;
	background-color: black;
	border-top: 1px solid #322c1e;
	border-bottom: 1px solid #16130d;
}

.footer-overlay.footer-panel-expand {
	height: 50vh;
	transition: height 0.5s ease-in-out;
	z-index: 1100;	/* stay over sidebar etc. */
}

.footer-overlay.footer-panel-expand.panel-maximize {
	height: calc(100vh - 58px);
	transition: height 0.5s ease-in-out;
}

.footer-overlay.footer-panel-slide {
	height: 130px;
	transition: height 0.3s ease-in-out;
}

.footer .footer-tooltip {
	transition: bottom 0.5s ease-in-out;
}

.footer.footer-panel-expand .footer-tooltip {
	bottom: calc(50vh + 10px);
	transition: bottom 0.5s ease-in-out;
	z-index: 1100;	/* stay over sidebar etc. */
}

.footer.footer-panel-expand .footer-tooltip.tooltip-expand {
	bottom: calc(50vh + 10px);
	transition: bottom 0.5s ease-in-out;
	z-index: 1100;	/* stay over sidebar etc. */
}

.footer.footer-panel-expand.panel-maximize .footer-tooltip {
	top: 97px;
	bottom: auto;
	transition: top 0.1s ease-in-out;
}
.footer.footer-panel-expand.panel-maximize .footer-tooltip::after {
	display: none;
}
.footer.footer-panel-expand.panel-maximize .footer-tooltip.tooltip-expand {
	top: 107px;
	bottom:.footer-panel-expand auto;
	z-index: 1150;	/* stay over sidebar etc. */
	transition: top 0.1s ease-in-out;
}

#content.footer-panel-slide {
	margin-top: -90px;
	margin-bottom: 90px;
	transition: margin 0.3s ease-in-out;
}

#panel-slide {
	color: #222;
	width: 100%;
    height: 100%;
    padding: 10px 10px 50px 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}

#panel-slide .fab, #panel-slide .fas.brand  {
	font-size: 50px;
	margin: 6px;
}

#panel-slide a {
	margin: 0 auto;
    padding-right: calc((100vw - 352px) / 6);
    padding-left: 7px;
}

#panel-slide a:first-child {
	padding-left: calc((100vw - 352px) / 6);
}


#panel-slide .slide-iconset {
	display: block;
	margin: 0 auto;
	white-space: nowrap;
}

.footer-tooltip {
	position: fixed;
	opacity: 0;
	right: 10px;
	bottom: 28px;
	z-index: 101;
	width: 300px;
	background-color: rgba(0, 0, 0, 0.90);
	border: 1px solid #322c1e;
	border-radius: 6px;
	font-size: 13px;
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.3);
	transition: all 0.1s ease-in-out;
	pointer-events: none;
}

.footer-tooltip.tooltip-expand {
	opacity: 1;
	bottom: 48px;
	transition: all 0.1s ease-out;
	pointer-events: all;
}

.footer-tooltip ul {
	list-style: none;
	padding: 15px 0px;
	padding-left: 30px;
	padding-right: 30px;
}

.footer-tooltip li {
	height: 25px;
	width: 100%;
}

.footer-tooltip li:first-child {
	font-size: 15px;
	padding-bottom: 10px;
	height: 35px;
}

.footer-tooltip li.first-row {
	width: 55%;
}

.footer-tooltip li.second-row {
    width: 45%;
    float: right;
    margin-top: -25px;	/* mkay, bit of hack */
}

.footer-tooltip li.list-separator {
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	margin-top: 10px;
	padding-top: 10px;
	height: 35px;
}

.footer-tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  right: calc(50% - 5px);
  margin-left: -5px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.footer-tooltip .fa {
	margin-right: 5px;
}

.footer-tooltip li.tooltip-icons  {
	height: 56px;
}

.footer-tooltip li.tooltip-icons .fab {
	font-size: 25px;
	margin-right: 5px;
	border: 1px solid #322c1e;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	padding: 11px 7px;
}

.footer-tooltip a {
	color: white;
	font-weight: bold;
}

.label-success {
    background-color: transparent!important;
}

.footer-tooltip .label-success {
	color: #8cff8c;
}

.footer-tooltip .label-error {
	color: #ff8c8c;
}

.footer-tooltip .label-warning {
	color: #ffff8c;
}

.footer-overlay .status-area {
    float: right;
    font-size: 1.31rem;
    cursor: pointer;
    height: 39px;
    border-top: 2px solid transparent;
    padding: 7px 11px 0 10px;
    text-align: center;
}

.row.footer-panel-row {
    margin-left: -15px;
}

.footer-overlay .status-area::after {
	content: " ";
	margin: 0 5px 0 5px;
}

.footer-overlay .status-area:first-child:after {
	border: none;
}

.footer-overlay .status-area:hover {
    border-top: 2px solid #F19B7E;	/*	#e4b99c; */
    background-color: rgba(100, 100, 100, 0.3)
}

.footer-overlay .status-area.active {
	border-top: 2px solid #e4b99c;	/*#725c4e;*/
}

span.status-label-wide {
    margin-right: 4px;
	display: initial;
}
span.status-label-short {
	display: none;
}

#connection-status {
	width: 30px;
	margin-right: -5px;
	text-align: center;
	padding-left: 8px;
}

#connection-tooltip::after {	/* move just the arrow, keep tooltip whet it is */
  right: 3px;
}

#masternodes-tooltip {			/* move tooltip,keep arrow in the middle */
  right: 65px;
}

#chain-pow-tooltip {
	right: 185px;
	width: 350px;
}

#chain-tip-tooltip::after {
	right: 70px;
}

#chain-pow-tooltip::after {
	right: 165px;
}

#price-status {
	float: left;
}

#price-status-tooltip {
	z-index: 1199;
	right: unset;
	left: 199px;
	width: 350px;
}

#price-status-tooltip .price-usd {
	color: #888;
	display: inline;
}

#price-status-tooltip .tooltip-price {
	text-align: right;
	float: right;
}

#price-status-tooltip .tooltip-label-right {
	text-align: right;
	float: right;
	display: inline;
}

#price-status-tooltip li.tooltip-row-tall {
	height: unset;
}

#price-status-tooltip .list-separator {
	margin-top: 0px;
}

#price-tooltip-chart {
	width: 290px;
	height: 220px;
}

#price-tooltip-chart .jqplot-cursor-tooltip {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0,0,0,0.7);
    padding: 10px;
    color: white;
}

.footer-follow-wide {
    display: block;
    margin-top: -47px;
    height: 110px;
    margin-left: 30px;
    float: left;
}

/* Footer */
.footer.container {
    display: contents;
}

.footer {
	padding-top:  50px; 	/* at least section separator height */
	margin-bottom: 40px;	/* width of footer-overlay */
}

.footer-copyright.text-center.py-3 {
	font-size: small;
    line-height: 28px;
}

.footer-copyright {
	margin-top: 30px;
	margin-bottom: 37px;
}

/* initial state of things that depend on websocket */
.websocket-offline, .websocket-offline-animate {
	display: block;
}

.websocket-online, .websocket-online-animate {
	display: none;
}


.footer-badges {
	margin: 0 auto;
	display: table;
	opacity: 0.5;
    margin-bottom: -40px;	/* height of footer overlay */
    white-space: nowrap;
    overflow: hidden;
}

/*end footer*/
/* dev console */
#console-tab {
    height: 50%;
}

.fa-terminal:before {
    font-weight: bold;
    font-size: 17px;
    content: "\f120";
}

#dev-console {
	display: none;
	font-size: 15px;
	font-family: 'Inconsolata', sans-serif;
	line-height: 19px;
	color: #aeed6a;
	width:100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
   	padding-bottom: 40px;
}
#dev-console div.jquery-console-inner {
 	width:100%;
 	height: 100%;
 	padding:0.5em;
   	overflow:auto;
}
#dev-console div.jquery-console-inner::-webkit-scrollbar {
    width: 20px;
    background-color: #393939;
}
#dev-console div.jquery-console-inner::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#dev-console div.jquery-console-inner::-webkit-scrollbar-thumb {
  background-color: black;
  outline: 1px solid slategrey;
  border-left: 3px solid #262626;
}
#dev-console div.jquery-console-inner::-webkit-scrollbar-thumb:hover {
    border-color: #F19B7E;
}
#dev-console span.jquery-console-prompt-label {
	color: #F19B7E;
}
#dev-console div.jquery-console-message {
	white-space: pre-wrap;
}
#dev-console div.jquery-console-message-error { color:#ef0505; font-weight:bold; padding:0.1em; }
#dev-console div.jquery-console-message-value { color:#1ad027; padding:0.1em; }
#dev-console div.jquery-console-message-type { color:#52666f; padding:0.1em; }
#dev-console span.jquery-console-prompt-label { font-weight:bold }
#dev-console div.jquery-console-focus span.jquery-console-cursor {
 	background: #aeed6a;
 	color: black;	/* contrast text color when blinking */
 	font-weight: bold;
 	animation: console-blinker 1s linear infinite;
 }
@keyframes console-blinker {
  50% {
    opacity: 0;
  }
  51% {
  	opacity: 1;
  }
}

#console-toggle {
	display: block;
	text-align: center;
	padding-left: 8px;
	padding-right: 3px;
	float: left;
}

#console-toggle .fa-window-close {
	margin-left: 10px;
	color: #FAA;
}

#console-toggle.active {
	padding-right: 5px;
}

#console-maximize {
	float: left;
	padding-left: 5px;
}

#console-maximize .fa-window-maximize {
	color: #AFA;
}

.footer-overlay .console-area {
	display: none;
}

/* osx dock */
ul.osx-dock {
    display: inline-block;
    height: 110px;
    padding: 0 40px 0 0;
    /*overflow: hidden;*/
    margin: 0;
}

ul.osx-dock li {
    display: block;
    position: relative;
    float: left;
    width: 35px;
    height: 25px;
    margin: 50px 0 4px 0;
    -webkit-transition: 0.15s linear;
    -webkit-transition-property: -webkit-transform margin;
    text-align: center;
}

ul.osx-dock li a {
  display: block;
  height: 30px;
  padding: 0 1px;
  margin: 0;
  /*
  -webkit-transition: 0.15s linear;
  -webkit-transition-property: -webkit-transform margin;
  -webkit-box-reflect: below 2px; -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.45, transparent), to(rgba(255, 255, 255, 0.25)));
	*/
}

ul.osx-dock li a img {
  width: 48px;
}

ul.osx-dock li:hover {
  margin-left: 9px; margin-right: 9px;
  z-index: 200;
  box-shadow: 0 0 30px rgba(0,0,0,0.5), 0 0 50px rgba(0,0,0,0.5);
  /*border-bottom: 2px solid #F19B7E;*/
}

ul.osx-dock li:hover a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.5);
}

ul.osx-dock li.nearby {
  margin-left: 6px; margin-right: 6px;
  z-index: 100;
}

ul.osx-dock li.nearby a {
  -webkit-transform-origin: center bottom;
  -webkit-transform: scale(1.25);
}

ul.osx-dock li span {
 background: rgba(0,0,0,0.75);
 position: absolute;
 bottom: 40px;
 /*margin: 0 auto;*/
 margin-left: -37%;
 display: none;
 width: auto;
 font-size: 11px;
 font-weight: bold;
 padding: 3px 6px;
 -webkit-border-radius: 6px;
 color: #fff;
}
 ul.osx-dock li:hover span {
 display: block;
}

.fab {

	margin-right: 5px;
	font-size:25px;
	margin-top: 4px;
	background: -webkit-linear-gradient(45deg,#262626, #e4b99c);
 	-webkit-background-clip: text;
 	-webkit-text-fill-color: transparent;
}

hr {
    background-image: linear-gradient(90deg,transparent, #e4b99c, transparent);
    height: 1px;
    border-top: 0px!important;
}

.navbar {
    background: black;
}

.label-default {
    background-color: black;
}

.navbar-fixed-top {
    height: 61px;
    top: 0;
    border-width: 0px;
    border-bottom: 1px solid #322c1e;
}

.navbar-default .navbar-toggle {
    border-color: black;
}


.navbar-brand:hover {
	color: #fff;
    border-bottom: 2px solid #F19B7E;
    background-color: rgba(100, 100, 100, 0.3)
}

a.navbar-brand.active {
    height: 60px;
	border-bottom: 2px solid #e4b99c;
}

.nav-link {
	font-size: 15px;
	color: #fff;
}

li.nav-item {
	border-bottom: 2px solid transparent;
	padding: 21px 0 6px 0;
    height: -webkit-fill-available;
}

li.nav-item:hover {
    border-bottom: 2px solid #F19B7E;
    background-color: rgba(100, 100, 100, 0.3)
}

li.nav-item:active {
	border-bottom: 2px solid #e4b99c;
}


.collapse.in {
    display: contents;
    visibility: visible;
}

img {
    overflow: hidden;
    vertical-align: middle;
}

#coin-info {
    display: contents;
}

.nav-tabs>li {
    background: #262626;
    float: left;
    margin-bottom: -1px;
}

.navbar-nav {
    height: 60px;
    float: right;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
    color: #ffffff;
    background-color: transparent !important;
}

.navbar-default .navbar-nav>li>a {
    font-size: 15px;
    color: white;
}

.navbar-default .navbar-link:hover {
    background: transparent !important;
    color: blue !important;
}

.navbar-nav>li>a:hover {
    background-image: none!important;
}

.nav {
    font-size: 15px;
    margin-bottom: 0;
    /* padding-left: 0; */
    list-style: none;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    margin-top: -10px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 8px;
}

#text-brand {
    font-size: 2.07rem;
    letter-spacing: 0.1rem;
    display: -webkit-inline-box;
    padding-top: 6px;
}

.navbar>.container .navbar-brand {
    padding-top: 10px;
    margin-left: -1px!important;
}

.navbar-nav>li>a {
    line-height: 21px;
    border: 0px !important;
    /* border-right: 1px solid rgba(0,0,0,0.2); */
    /* border-left: 1px solid rgba(255,255,255,0.1); */
}

.navbar-brand:hover, .navbar-default .navbar-brand:focus {
    height: 60px;
    color: #ffffff;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
    margin-left: 0px;
}

a.navbar-brand {
    margin-top: 1px;
    height: 59px;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-brand>img {
    margin-right: 7px;
    display: inline-block;
    margin-left: 1px;
}

.navbar-brand {
    display: inline;
	padding: 11px 14px 9px 4px;
	font-weight: bold;
	color: #fff;
	font-size: 21px;
	border-bottom: 2px solid transparent;
}

#hr-miningstats {
    margin-top: 6px;
}

my1 {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
}

.fa-discord:before {
    content: "\f392"!important;
}

.fa-bitcoin:before {
    content: "\f15a";
}

#search-bar {
    margin-top: 7px;
    margin-right: 25px!important;
    margin-bottom: 12px;
    display: inline-block;
    opacity: 0.95;
    height: 38px;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #272b30;
    background-color: #cccccc;
    background-image: none;
    border: 1px solid #cccccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-inline .form-control {
    border: 2px #262626;
    opacity: 0.8;
    /* width: unset; */
    vertical-align: middle;
}

input.form-control.input-sm {
    margin-left: 10px;
    margin-right: 10px;
}

div.dataTables_filter label {
    margin-top: 9px;
    font-weight: normal;
    float: right;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

button {
    overflow: hidden;
    font-weight: 500;
    color: #fff;
    text-align: center!important;
    width: 18%;
    margin: 0px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    outline: 0;
    -moz-transition: opacity 300ms;
    -o-transition: opacity 300ms;
    -webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    height: 39px;
    background: none;
    border: 0;
}

.button-effect {
  position: relative;
  color: #fff;
  cursor: pointer;
  margin-left: 7px;
}
.button-effect .label {
  padding: 10px 30px;
  font-size: 14px;
  display: inline-block;
  z-index: 10;
  position: relative;
  white-space: nowrap;
  line-height: 20px;
  transition: all 0.225s;
  transition-delay: 0.45s;
  letter-spacing: 2px;
}
.button-effect.button-effect-start .label {
  padding: 12px 65px;
}
.button-effect .icon2 {
  display: block;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.225s;
  background: #f19b7e88;
  transition-delay: 0.45s;
}
.button-effect .icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.225s;
  transition-delay: 0.15s;
}
.button-effect .icon:before, .button-effect .icon:after {
  width: 60px;
  opacity: 0;
  content: '';
  height: 1px;
  position: absolute;
  display: block;
  background: #f19b7e;
  transition: all 0.375s;
  transition-delay: 0.3s;
}
.button-effect .icon:before {
  top: 0;
  left: calc(50% - 30px);
}
.button-effect .icon:after {
  bottom: 0;
  right: calc(50% - 30px);
}
.button-effect .icon span:before, .button-effect .icon span:after {
  height: 0;
  transition-delay: 0s;
  content: '';
  background: #f19b7e;
  position: absolute;
  display: block;
  width: 2px;
  transition: all 0.225s;
}
.button-effect .icon span:before {
  left: 0;
  top: 0;
}
.button-effect .icon span:after {
  right: 0;
  bottom: 0;
}
.button-effect:hover .icon:before, .button-effect:hover .icon:after {
  transition-delay: 0s;
  width: 30px;
  opacity: 1;
}
.button-effect:hover .icon:before {
  left: 0;
}
.button-effect:hover .icon:after {
  right: 0;
}
.button-effect:hover .icon span:before, .button-effect:hover .icon span:after {
  height: 30px;
  transition-delay: 0.45s;
}
.button-effect:hover .icon2 {
  background: transparent;
  transition-delay: 0s;
  opacity: 0;
}
.button-effect.white:hover .label {
  color: #fff;
  transition-delay: 0s;
}
.button-effect.white .icon2 {
  background: #fff;
}
.button-effect.white .icon:before, .button-effect.white .icon:after {
  background: #fff;
}
.button-effect.white .icon span:before, .button-effect.white .icon span:after {
  background: #fff;
}
.button-effect.labelred .label {
  color: #f0202f;
}
.button-effect.labelgray .label {
  color: #1d1d1d;
}
.button-effect.transparent {
  float: none;
  display: inline-block;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.button-effect.transparent .label {
  color: #fff;
  transition-delay: 0s;
}
.button-effect.transparent .icon2 {
  background: transparent;
}
.button-effect.transparent .icon:before, .button-effect.transparent .icon:after {
  background: #fff;
}
.button-effect.transparent .icon span:before, .button-effect.transparent .icon span:after {
  background: #fff;
}

.container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container-fluid {
    background: black;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

td, th {
    padding: 7px;
}

@media only screen and (max-width: 1025px) {
   td, th {
       padding: 3px!important;
   }
}
tbody>tr:hover {
    background-color: #464646 !important;
}

table {
    background-color: transparent;
}

table.table-bordered.dataTable {
    border: 0px;
}

table.jqplot-table-legend, table.jqplot-cursor-legend {
    bottom: 7px!important;
}

#header {
    background-color: transparent;
    height: 100%;
    margin-bottom: 30px;
}

.header-background-img {
    height: 95%;
    opacity: 0.8;
    background-position: center center;
    background-image: url(../images/veles_wallpaper.png);
    background-size: 200%;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -600;
}

@media only screen and (max-width: 1025px) {
  .header-background-img {
    background-size: 200%;
    height: unset!important;
  }
}

#header-text {
    text-transform: uppercase;
    font-size: 4.2em;
    letter-spacing: 0.1em;
    white-space: nowrap;
    font-family: 'Jura';
    text-shadow: 0px -1px 0 rgba(0,0,0,0.3);
    margin-top: 9%;
    margin-bottom: 7%;
}

#header-hr {
    background-image: linear-gradient(90deg,transparent, transparent, #e4b99c,transparent, transparent);
    height: 1px;
    border-top: 0px!important;
}

.panel {
    padding-top: 3px;
    background-color: #26262688;
    border: 1px !important;
}

.panel.panel-header {
    height: 50%;
}

.panel-primary {
    background: #26262688;
}

.panel-primary>.panel-heading {
    color: #ffffff;
    background-color: transparent;
}

.panel>.table:last-child, .panel>.table-responsive:last-child>.table:last-child {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: transparent;
}

.panel-body {
    background-color: transparent;
    padding: 15px;
}

.panel-default>.panel-heading {
    height: 50px;
    color: #c8c8c8;
    background-color: transparent;
    margin-bottom: 3px;
    border: none;
    margin-top: 10px;
    border-bottom: solid 1px #e4b99cbb;
}

.panel-default>.panel-heading.panel-dashboard {
    padding: 0;
    height: 76px;
    margin-bottom: 3px;
    background-color: transparent;
    margin-top: -3px;
    border-top: solid 1px rgba(0,0,0,0.4);
    margin-right: 0;
    border-left: solid 1px rgba(0,0,0,0.4);
    border-bottom: solid 1px rgba(0,0,0,0.4);
}

.panel-summary .panel-body {
    min-height: 110px;
}

#index-search {
	width: 80%;
}

.view_tx {
	text-align: center;
}

.block-last {
	margin: 0;
	margin-right: 10px;
}

.block-next {
	margin: 0;
	margin-left: 10px;
}
#chart3 .jqplot-xaxis {
	display: none;
}

.data {
	display: block;
	overflow: hidden;
	width: 100%;
}

.txid {
	width: 100%;
	display:block;
	overflow: hidden;
}

.mono {
	font-family: 'Jura', monospace;
}

.panel-address-summary {
 margin-bottom: 5px;
}

/* datatable tweaks */
table {
	width: 100% !important;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #26262688;
}

.dataTables_info, .dataTables_length {
	padding-left: 10px;
}

.dataTables_info {
	display: hidden !important;
}

.dataTables_length {
	padding-top: 10px;
}

.dataTables_paginate {
	padding-right: 5px;
}

.tab-pane {
	margin-top: 5px;
}

table a:not(.btn),.table a:not(.btn){
	text-decoration:none
}

tr {
	width: 100%;
}

.footer-padding {
	height: 50px;
	width: 100%;
}

.summary-table {
	margin: 0px !important;
}

#loading-icon {
	width: 30px;
    margin: 10px 10px;
}

.menu-text {
	margin-left:5px;
}

#twitter-icon {
	font-size: 20px;
}

.footer-icon{
	font-size: 18px;
}

.connections {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

#lblBlockcount {
	margin-right: 10px;
}

#twitter-icon img{
	width: 40px;
	margin: 5px 5px;
}

#market_menu {
	margin-bottom: 5px;
}

.label a:link {
	color: #ffffff;
}

.label a:visited {
	color: #ffffff;
}

.label a:hover {
	color: #ffffff;
}

.label a:active {
	color: #ffffff;
}

@media(max-width:767px){
	body {
		padding: 0px;
		padding-top:60px;
	}
}

.qrcode {
	max-height: 40px;
	margin-left: 10px;
}

.footer-logo {
	height: 40px;
	position: absolute;
	bottom: 0px;
}

.panel-summary p {
	font-size: 13px;
	margin: 0 0 3px;
}

.panel-summary h1 {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0px;
	line-height: 0.8;

}

.panel-summary h3 {
	font-size: 12px;
	color: gray;
	margin-top: 3px;
	margin-bottom: 0;
}

.panel-summary h5 {
	font-size: 12px;
	margin-top: 3px;
	margin-bottom: 0;
}

.panel-summary .panel-body {
	min-height: 90px;
}

.coin-info {

}

.coin-info h2 {
	margin: 3px;
	padding: 0;
}

.coin-info h5.sub {
	margin: 0;
	padding: 0;
	color: #ababab;
	font-weight: 400;
	text-transform: uppercase;
}

.coin-info .info-row {
	min-height: 100px;
	padding-top: 10px;
	margin: 10px;
}

.coin-info .row.earnings {
	margin-bottom: 5px;
}

#bread-bar {
    margin-left: 15px;
    max-width: 1140px;
    margin-bottom: 28px;
}

.breadcrumb {
    border: 0!important;
	background: linear-gradient(90deg, #262626, #e4b99c);
	transform: skew(-40deg, 0deg) scaleX(1);
	max-width: 100%;
	margin-top: 20px;
	height: 44px;
	opacity: 0.75;
	margin: 10px;
    display: -webkit-box;
}

.bread-button {
  margin: 10px;
  float: left;
  position: relative;
  color: #fff;
  cursor: pointer;
  margin-left: 7px;
}
.bread-button.active {	/* Active button is always the last */
	margin-right: 20px;
}
.bread-button .label {
  padding: 10px;
  display: inline-block;
}
.bread-button.bread .label {
  padding: 10px 30px;
  font-size: 14px;
  display: inline-block;
  z-index: 10;
  position: relative;
  white-space: nowrap;
  line-height: 24px;
  transition: all 0.225s;
  transition-delay: 0.45s;
  letter-spacing: 2px;
}
.bread-button.bread.bread-button-start .label {
  padding: 12px 65px;
}
.bread-button.bread .icon2 {
  display: block;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.225s;
  transform: skew(-40deg, 0deg) scaleX(1);
  background: rgba(38, 38, 38, 0.9);
  transition-delay: 0.45s;
}
.bread-button.bread .icon {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 0.225s;
  transform: scale(0.9) skew(0deg, 0deg);
  transition-delay: 0.15s;
}
.bread-button.bread .icon:before, .bread-button.bread .icon:after {
  width: 60px;
  opacity: 0;
  content: '';
  height: 1px;
  position: absolute;
  display: block;
  background: #f19b7e;
  transition: all 0.375s;
  transition-delay: 0.3s;
}
.bread-button.bread .icon:before {
  top: 0;
  left: calc(50% - 30px);
}
.bread-button.bread .icon:after {
  bottom: 0;
  right: calc(50% - 30px);
}
.bread-button.bread .icon span:before, .bread-button.bread .icon span:after {
  height: 0;
  transition-delay: 0s;
  content: '';
  background: #f19b7e;
  position: absolute;
  display: block;
  width: 2px;
  transition: all 0.225s;
}
.bread-button.bread .icon span:before {
  left: 0;
  top: 0;
}
.bread-button.bread .icon span:after {
  right: 0;
  bottom: 0;
}
.bread-button.bread:hover .icon {
  transform: skew(-40deg, 0deg);
}
.bread-button.bread:hover .icon:before, .bread-button.bread:hover .icon:after {
  transition-delay: 0s;
  width: 30px;
  opacity: 1;
}
.bread-button.bread:hover .icon:before {
  left: 0;
}
.bread-button.bread:hover .icon:after {
  right: 0;
}
.bread-button.bread:hover .icon span:before, .bread-button.bread:hover .icon span:after {
  height: 30px;
  transition-delay: 0.45s;
}
.bread-button.bread:hover .icon2 {
  transform: skew(-40deg, 0deg) scaleX(0.2);
  background: transparent;
  transition-delay: 0s;
  opacity: 0;
}
.bread-button.bread.white:hover .label {
  color: #fff;
  transition-delay: 0s;
}
.bread-button.bread.white .icon2 {
  background: #fff;
}
.bread-button.bread.white .icon:before, .bread-button.bread.white .icon:after {
  background: #fff;
}
.bread-button.bread.white .icon span:before, .bread-button.bread.white .icon span:after {
  background: #fff;
}
.bread-button.bread.labelred .label {
  color: #f0202f;
}
.bread-button.bread.labelgray .label {
  color: #1d1d1d;
}
.bread-button.bread.transparent {
  float: none;
  display: inline-block;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
}
.bread-button.bread.transparent .label {
  color: #fff;
  transition-delay: 0s;
}
.bread-button.bread.transparent .icon2 {
  background: transparent;
}
.bread-button.bread.transparent .icon {
  transform: scale(1) skew(10deg, 0deg);
}
.bread-button.bread.transparent .icon:before, .bread-button.bread.transparent .icon:after {
  background: #fff;
}
.bread-button.bread.transparent .icon span:before, .bread-button.bread.transparent .icon span:after {
  background: #fff;
}
.bread-button.bread.transparent:hover .icon {
  transform: scale(1) skew(-40deg, 0deg);
}

span.label {
    font-family: 'Jura';
    font-weight: 100;
}

#bread-text {
    margin-left: 15px;
    margin-bottom: 15px;
    margin-top: 48px;
    display: block;
    font-family: inherit;
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
}

.grey {
    color: #A0a0a0;
    margin-right: 8px;
}

ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.col-md-offset-1 {
    margin-left: 0;
}

.col-md-10 {
    width: -webkit-fill-available!important;
}

.dataTables_paginate {
    opacity:0.77;
    max-height: 41px;
    float: right;
    margin: 0;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjY1Ii8+PHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC42NSIvPjxzdG9wIG9mZnNldD0iNjAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
}

.pagination>li>a {
    background: none;
    border:0;
    background-color: transparent!important;
}

.pagination>li>a:hover {
    background-image: none;
    background-color: #f19b7e88!important;
    background: none;
}

.pagination>li.active>a {
    background-color: #e4b99c88!important;
    background-image:none;
}
/*header dashboard*/
.header-tile {
	display: inline-block;
	background-color: transparent;
	border: none; /*#2e2d2d;*/
	border-bottom: none;
	border-left: none;
	height: 75px;
	width: 25%;
	font-size: 17px;
	z-index: 90;
}

.header-tile.panel-section {
    border-right: solid 1px rgba(0,0,0,0.4)!important;
}

form.form-inline {
    margin-bottom: 28px;
}

.header-tile .tile-label {
    margin-top: 13px;
	text-align: center;
	transition: all 1.0s ease;
}
.header-tile .tile-label-value {
	display: block;
	font-weight: bold;
	color: #F19B7E;
	transition: all 1.0s ease;
}
.header-tile:hover {
	border-radius: 3px;
	background-color: #00000066;	/*#3f3d3d20;*/
	transition: all 0.5s ease;
}
.header-tile:hover .tile-label {
	transform: scale(1.1);
	transition: all 0.5s ease;
}
.header-tile:hover .tile-label-value {
	transform: scale(1.1);
	transition: all 1.5s ease;
}
/*pre-loader*/
#content-overlay .overlay-gradient {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	background-image: linear-gradient(90deg, transparent, #e4b99c, transparent);
	z-index: 500;	/* just over navbar */
	text-align: center;
}

#content-overlay .overlay-shadow {
	position: fixed;
	top: 10;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 500;	/* just over gradient */
}

#content {
	transition: margin-top 0.5s ease-in-out;	/* support for easy transition when sliding out */
}
